<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vérification Email</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Votre adresse mail <%= email %> à bien été confirmé.</h2>
        </body>
</html>